<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
            Inicio
        </title>
        <meta charset="UFT-8">
    </head>
    <body>
        <h1>Inicio</h1>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th> Nombre</th>
                    <th> Apellido</th>
                    <th> Email</th>
                    <th> Telefono</th>
                </tr>
                <tr th:each="persona: ${personas}">
                    <td th:text="${persona.nombre}">mostra nombre</td>
                    <td th:text="${persona.apellido}">mostra apellido</td>
                    <td th:text="${persona.telefono}">mostra telefono</td>
                    <td th:text="${persona.email}">mostra email</td>
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            la lista es vacia
        </div>
    </body>
</html>